@import "../Common/Mixin.scss";

.sub-header {
  width: 100%;
  background-color: black;
  color: white;

  @include max1024 {
    display: none;
  }
  .sh {
    // max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    .sub-header-content {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 30px;

      .icon {
        color: gray;
      }

      .left,
      .right {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
      }
      .right {
        // text-align: right;
      }
    }
  }
}
