@import "../Common/Mixin.scss";

.bi {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  position: relative;

  @include max650 {
    height: 100vh;
  }

  .first {
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.3) url("../Assets/images/banner1.jpg") no-repeat
      center;
    background-size: cover;
    background-blend-mode: darken;

    @include max650 {
      height: 50%;
    }
  }

  .second {
    width: 80%;
    position: absolute;
    bottom: 10%;
    height: fit-content;
    margin: 0 auto;

    border-radius: 5px;
    background-color: white;
    padding: 10px;
    padding-top: 15px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
