.banner {
  background-color: aqua;
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 150px);

  background: rgba(0, 0, 0, 0.3) url("../Assets/images/banner1.jpg") no-repeat
    center;
  background-size: cover;
  background-blend-mode: darken;
}
